---
layout: base
---
<article class="post">

    <header class="post-header">
        <h2 class="post-title">Paweł Kanarek</h2>
    </header>

    <div class="post-content-resume">
        {{ content }}
    </div>

    <div>
        <a href="/resume-print">
            <img class="svg-icon" src="/assets/icons/print.svg" alt="Print Version">
            Print Version</img>
        </a>
        <a href="/assets/PawelKanarek_resume.pdf">
            <img class="svg-icon" src="/assets/icons/pdf.svg" alt="PDF Version">
            PDF Version</img>
        </a>
    </div>

</article>